
	.wpts-title {
		background: none repeat scroll 0 0 #E95C41;
		color: white;
		font-family: helvetica;
		
		margin: 0 20px 40px 0;
		padding: 30px 0 30px 20px;
		
        -moz-border-radius: 0px 0px 5px 5px;
        -webkit-border-radius: 0px 0px 5px 5px;
        border-radius: 0px 0px 5px 5px;   
		
		position: relative;	
	}
	
	.wpts-title:before, .wpts-title:after
	{
	  z-index: -1;
	  position: absolute;
	  content: "";
	  bottom: 15px;
	  left: 10px;
	  width: 50%;
	  top: 80%;
	  max-width:300px;
	  background: rgba(0, 0, 0, 0.4);
	  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.4);
	  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
	  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
	  -webkit-transform: rotate(-3deg);
	  -moz-transform: rotate(-3deg);
	  -o-transform: rotate(-3deg);
	  -ms-transform: rotate(-3deg);
	  transform: rotate(-3deg);
	}

	.wpts-title:after
	{
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 10px;
	  left: auto;
	}
	
	.wpts-title-salmon { background: none repeat scroll 0 0 #E95C41; }
	.wpts-title-cyan { background: none repeat scroll 0 0 #6fc0ac; }
	.wpts-title-purple { background: none repeat scroll 0 0 #934394; }
	.wpts-title-blue { background: none repeat scroll 0 0 #41b8ce; }
	.wpts-title-green { background: none repeat scroll 0 0 #96c45b; }
	.wpts-title-yellow { background: none repeat scroll 0 0 #fbc251; }
	.wpts-title-gray { background: none repeat scroll 0 0 #989898; }
	.wpts-title-pink { background: none repeat scroll 0 0 #f194b5; }
	
	.wpts-title h2 {
		font-size: 80px;
		letter-spacing: -5px;
		line-height: 80px;
		margin: 0;
	}
	
	.wpts-title .logo {
		padding-left: 5px;
		float: left;
		width: 204px;
		height: 30px;
		padding-bottom: 35px;
		padding-top: 10px;
	}
	
	.wpts-title .logo a {
		display: block;
	}
	
	.wpts-title .social-icons {
		float: right;
	}
	
	.wpts-title .social-icons {
		padding-right: 20px;
		padding-top: 20px;
	}
	
	.wpts-title .social-icons a {
		display: inline-block;
		padding-left: 10px;
	}
	
	.clearboth {
		width: auto;
		height: 0px;
		display: block;
		clear: both;
	}
	
	/*** SETTINGS ***/
	
	.setting-block {
		margin-bottom: 40px;
		background-color: #fff;	
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;

        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;

        -moz-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);  
        -webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.3);  
        box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
		
		padding-bottom: 25px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	
	.setting-block .block-title {
		border-bottom: 1px solid #bababa;
		margin-bottom: 25px;
		padding: 0px 0px;
		background: #f9f9f9;
		background: -moz-linear-gradient(top,  #f9f9f9 0%, #eaeaea 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eaeaea));
		background: -webkit-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%);
		background: -o-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%);
		background: -ms-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%);
		background: linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 );

	}
	
	.setting-block .block-title h2 {
		font-family: helvetica, Helvetica, sans-serif;
		font-size: 14px;
		color: #656565;
		font-weight: bold;
		line-height: 18px;
		margin: 0;
		padding: 10px 20px;
		border-bottom: 1px solid #fff;
		
	}
	
	/*** Inputs ***/
	
	.setting-block .wpts_input {
		margin: 20px;
		font-family: helvetica, Helvetica, sans-serif;
		font-size: 12px;
		color: #444444;
	}
	
	.setting-block .wpts_input label {
		font-size: 14px;
		color: #777;
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	.setting-block .wpts_input small {
		padding-left: 20px;
		display: block;
		padding-top: 10px;
		padding-left: 10px;
	}
	
	.setting-block .wpts_input input[type="text"], .setting-block .wpts_input textarea, .setting-block .wpts_input select {
		display: inline-block;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */	
		box-sizing: border-box;         /* Opera/IE 8+ */
		width: 350px;
		border: 1px solid #c8c8c8;
		-moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
		background-color: #fff;
		font-family: helvetica, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #aaa;
		padding: 10px 10px;
		
        -moz-box-shadow:  inset  0px 2px 5px 0px #ccc, 0px 0px 0px 5px #f5f5f5;
		-webkit-box-shadow: inset 0px 2px 5px 0px #ccc, 0px 0px 0px 5px #f5f5f5;
		box-shadow:     inset    0px 2px 5px 0px #ccc, 0px 0px 0px 5px #f5f5f5;
	}
	
	.setting-block .wpts_input textarea {
		height: 200px;
	}
	
	.setting-block .wpts_input select {
		height: 40px;
	}
	
	.setting-block .rm_checkbox {
		font-family: helvetica, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #555;
	}
	
	.setting-block .rm_checkbox input {
		margin-left: 10px;
		display: inline-block;
	}
	
	.setting-block .wpts_input input[type="text"]:focus, .setting-block .wpts_input textarea:focus, .setting-block .wpts_input select:focus {
		color: #555555;
		border: 1px solid #888;
	}
	
	.setting-block .save-bottom {
		text-align: right;
		margin-right: 20px;
	}
	
	.setting-block .save-bottom  input[type="submit"], .setting-block .upload-admin {
		background: none;
		-moz-box-shadow:  0px 2px 0px 0px #ccc, 0px 0px 0px 5px #eee;
		-webkit-box-shadow:  0px 2px 0px 0px #ccc, 0px 0px 0px 5px #eee;
		box-shadow:    0px 2px 0px 0px #ccc, 0px 0px 0px 5px #eee;
		background: #a3cd5a;
		border: 1px solid #82a546;
		background: #cae285;
		background: -moz-linear-gradient(top,  #cae285 0%, #9eca56 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#9eca56));
		background: -webkit-linear-gradient(top,  #cae285 0%,#9eca56 100%);
		background: -o-linear-gradient(top,  #cae285 0%,#9eca56 100%);
		background: -ms-linear-gradient(top,  #cae285 0%,#9eca56 100%);
		background: linear-gradient(top,  #cae285 0%,#9eca56 100%);

		padding: 10px 25px;
		font-size: 16px;
		font-family: helvetica, Helvetica, sans-serif;
		text-transform: uppercase;
		text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
		font-weight: 800;
		
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
	}
	
	.setting-block .upload-admin {
		color: #fff;
		font-size: 12px;
		margin-left: 10px;
	}
	
	.setting-block .save-bottom  input[type="submit"]:hover, .setting-block .upload-admin:hover {
		color: #fff;
		text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
		border: 1px solid #82a546;
	}
	
	.setting-block .wpts_color span {
		display: inline-block;
		padding-right: 45px;
		background: url("images/color_picker.png") no-repeat right center;
	}
	
	.wpts-updated {
	  background-color: #FFECAA;
	  color: #996633;
	  font-family: helvetica,Helvetica,sans-serif;
	  font-size: 18px;
	  margin: 30px 20px 30px 0;
	  padding: 15px 25px;
	}
	
	
/***********************

	META BOXES 
	
***********************/
	
	.wpts-metabox .wpts-title {
		margin: 0;
		margin-bottom: 20px;
		position: relative;
		padding: 10px 20px;
		
		-moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
	}
	
	.wpts-metabox  .wpts-title h2 {
		color: #fff !important;
		font-size: 30px !important;
		margin: 0 !important;
		line-height: 46px !important;
		letter-spacing: 0px !important;
	}
	
	/*** Inputs ***/
	
	.wpts-metabox .wpts_input {
		margin: 20px;
		font-family: helvetica, Helvetica, sans-serif;
		font-size: 12px;
		color: #444444;
	}
	
	.wpts-metabox .wpts_input label {
		font-size: 14px;
		color: #777;
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	.wpts-metabox .wpts_input small {
		padding-left: 20px;
		display: block;
		padding-top: 10px;
		padding-left: 10px;
	}
	
	.wpts-metabox .wpts_input input[type="text"], .wpts-metabox .wpts_input textarea, .wpts-metabox .wpts_input select {
		display: inline-block;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */	
		box-sizing: border-box;         /* Opera/IE 8+ */
		border: 1px solid #c8c8c8;
		-moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
		background-color: #fff;
		font-family: helvetica, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #aaa;
		padding: 10px 10px;
		max-width: 240px;
        -moz-box-shadow:  inset  0px 2px 5px 0px #ccc, 0px 0px 0px 5px #f5f5f5;
		-webkit-box-shadow: inset 0px 2px 5px 0px #ccc, 0px 0px 0px 5px #f5f5f5;
		box-shadow:     inset    0px 2px 5px 0px #ccc, 0px 0px 0px 5px #f5f5f5;
	}
	
	.wpts-metabox .wpts_input textarea {
		height: 200px;
		max-width: 100%;
		min-width: 260px;
	}
	
	.wpts-metabox .wpts_input select {
		height: 40px;
	}
	
	.wpts-metabox .rm_checkbox {
		font-family: helvetica, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #555;
	}
	
	.wpts-metabox .rm_checkbox input {
		margin-left: 10px;
		display: inline-block;
	}
	
	.wpts-metabox .wpts_input input[type="text"]:focus, .wpts-metabox .wpts_input textarea:focus, .wpts-metabox .wpts_input select:focus {
		color: #555555;
		border: 1px solid #888;
	}
	
	.wpts-metabox .upload-admin {
		background: none;
		-moz-box-shadow:  0px 2px 0px 0px #ccc, 0px 0px 0px 5px #eee;
		-webkit-box-shadow:  0px 2px 0px 0px #ccc, 0px 0px 0px 5px #eee;
		box-shadow:    0px 2px 0px 0px #ccc, 0px 0px 0px 5px #eee;
		background: #a3cd5a;
		border: 1px solid #82a546;
		background: #cae285;
		background: -moz-linear-gradient(top,  #cae285 0%, #9eca56 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#9eca56));
		background: -webkit-linear-gradient(top,  #cae285 0%,#9eca56 100%);
		background: -o-linear-gradient(top,  #cae285 0%,#9eca56 100%);
		background: -ms-linear-gradient(top,  #cae285 0%,#9eca56 100%);
		background: linear-gradient(top,  #cae285 0%,#9eca56 100%);

		padding: 10px 25px;
		font-size: 16px;
		font-family: helvetica, Helvetica, sans-serif;
		text-transform: uppercase;
		text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
		font-weight: 800;
		
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
	}
	
	.wpts-metabox .upload-admin {
		color: #fff;
		font-size: 12px;
		margin-left: 10px;
	}
	
	.wpts-metabox .upload-admin:hover {
		color: #fff;
		text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
		border: 1px solid #82a546;
	}
	
	.wpts-metabox .preview {
		float: left;
		margin-right: 20px;
		-moz-box-shadow:  0px 2px 0px 0px #ccc, 0px 0px 0px 5px #ddd;
		-webkit-box-shadow:  0px 2px 0px 0px #ccc, 0px 0px 0px 5px #ddd;
		box-shadow:    0px 2px 0px 0px #ccc, 0px 0px 0px 5px #ddd;
		-moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
		border-top: 1px solid #fff;
		width: 80px;
		height: 65px;
	}
	
	.wpts-metabox .preview img {
		display: block;
		-moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
	}
	
	#sliders .inside, #projInfo-meta .inside, #projects-thumbs-meta .inside {
		margin: 0;
		padding: 0;
	}
	
	.wpts-divider {
		clear: both;
		height: 3px;
		background-color: #ccc;
		margin: 20px 0;
		width: 100%;
		display: block;
	}