body {
  margin: 0;
  padding: 0 0 1px;
}

.content-outer,
.header-outer,
.tabs-outer,
.main-outer,
.main-inner,
.footer-outer,
.post,
.comments,
.widget,
.date-header,
.inline-ad {
  position: relative;

  min-height: 0;

  _position: static;
  _height: 1%;
}

.footer-outer {
  margin-bottom: -1px;
}

.content-inner {
  padding: 10px;
}

.tabs-inner {
  padding: 0 15px;
}

.main-inner {
  padding: 30px 0;
  .column-center-inner,
  .column-left-inner,
  .column-right-inner {
    padding: 0 15px;
  }
}

.footer-inner {
  padding: 30px 15px;
}

.section {
  margin: 0 15px;
}

.widget {
  margin: 30px 0;

  _margin: 0 0 10px;
}

.section {
  &:first-child {
    .widget:first-child,
    #uds-searchControl + .widget {
      margin-top: 0;
    }
  }
  &:last-child .widget:last-child {
    margin-bottom: 0;
  }
}

.tabs:first-child .widget {
  margin-bottom: 0;
}

body .navbar {
  height: 30px;
  margin: 0;
  padding: 0;
  .Navbar {
    position: absolute;
    z-index: 10;
    left: 0;

    width: 100%;
    margin: 0;
    padding: 0;

    border: none;
    background: none;
  }
}

.header-inner {
  .section {
    margin: 0;
  }
  .widget {
    margin-right: 30px;
    margin-left: 30px;
  }
  .Header {
    margin: 0;
    #header-inner {
      overflow: hidden;
    }
    .titlewrapper {
      padding: 22px 30px 0;
    }
    .descriptionwrapper {
      margin-bottom: 25px;
      padding: 0 30px;
    }
  }
}

.Header {
  h1 {
    margin-bottom: 10px;
  }
  .description {
    margin: .5em 0 10px;
    padding: 0 2px;
  }
}

a img {
  position: relative;

  border: none;
}

h1,
h2,
h3,
h4 {
  position: relative;

  margin: 0;
}

h1 a:hover,
h3 a:hover {
  text-decoration: none;
}

.tabs .widget {
  h2 {
    display: none;
  }
  ul {
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style: none;
  }
  li {
    float: left;

    margin: 0;
    padding: 0;
    a:hover {
      text-decoration: none;
    }
  }
}

.widget {
  line-height: 1.4;
  ul {
    line-height: 1.2;

    margin: 0;
    padding: 0 0 0 1.25em;
  }
}

.BlogList {
  ul {
    padding: 0;
  }
  li .blog-content {
    position: relative;
  }
}

.widget li,
.BlogArchive #ArchiveList ul.flat li {
  margin: 0;
  padding: .25em 0;

  text-indent: 0;
}

.widget .post-body {
  ul {
    line-height: 1.4;

    margin: .5em 0;
    padding: 0 2.5em;
  }
  li {
    margin-bottom: .25em;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.item-control {
  display: none;
  a {
    text-decoration: none !important;
  }
}

.item-action a {
  text-decoration: none !important;
}

.widget-item-control {
  position: relative;
  z-index: 10;

  float: right;

  height: 20px;
  margin-top: -20px;
  a {
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
}

.widget .widget-item-control a img {
  padding: none;

  border: none;
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  -ie-box-shadow: none;
}

.post-body {
  width: 100%;

  _overflow: hidden;
}

.post-header,
.post-footer {
  line-height: 1.6;
}

.post-footer-line > * {
  margin-right: 1em;
  &:last-child {
    margin-right: 0;
  }
}

.post-timestamp {
  margin-left: -1em;
}

.post-footer-line > *:first-child {
  margin-left: 0;
}

.post .tr-caption-container {
  position: relative;
}

.inline-ad {
  line-height: 0;

  margin: 2em 0;

  text-align: center;
}

#comments .comment-author {
  padding-left: 25px;
}

.comment-body {
  margin: .5em 25px;
}

.comment-footer {
  margin: .5em 25px 1.5em;
}

.comment-body p {
  margin: 0;
}

#comments .avatar-comment-indent .comment-author {
  margin-left: -45px;
  padding-left: 45px;
}

.deleted-comment {
  font-style: italic;

  opacity: .5;
}

.Profile {
  img {
    margin: 0 .75em .5em 0;
  }
  .profile-datablock {
    margin: 0 0 .5em;
  }
}

dt {
  font-weight: bold;
}

table.section-columns td.first.columns-cell {
  border-left: none;
}

.post-summary {
  padding-top: 8px;
}

#layout {
  .header-outer,
  .tabs-outer,
  .main-outer,
  .footer-outer {
    margin: 5px 0;
  }
  .cap-top,
  .cap-bottom {
    display: none;
  }
  .region-inner {
    margin: 0;
    padding: 0 10px;
  }
  .main-inner {
    .column-center-inner,
    .column-left-inner,
    .column-right-inner {
      padding: 0 5px;
    }
  }
}

html {
  height: 100%;
}

body {
  position: relative;

  min-height: 100%;

  _height: 100%;
}

.content {
  position: relative;

  word-wrap: break-word;
}

.content-outer,
.region-inner {
  min-height: 0;
  margin: 0 auto;
}

.columns {
  zoom: 1;
}

.loading .columns {
  overflow: hidden;
}

.columns-inner {
  min-height: 0;

  _height: 1%;
}

.column-center-outer,
.column-left-outer,
.column-right-outer {
  position: relative;

  float: left;

  _display: inline;
  _overflow: hidden;
}

.column-center-outer {
  width: 100%;
}

.column-left-outer {
  margin-left: -100%;
}

.fauxcolumns {
  position: relative;

  _height: 1%;
}

.fauxcolumn-outer {
  position: absolute;
  top: 0;
  bottom: 0;

  overflow: hidden;

  height: expression(this.parentNode.offsetHeight+'px');
  .fauxborder-left,
  .fauxborder-right {
    height: 100%;
  }
}

.fauxcolumn-inner {
  height: 100%;
}

.fauxcolumn-left-outer {
  left: 0;
}

.fauxcolumn-right-outer {
  right: 0;
}

.cap-top,
.cap-bottom {
  position: relative;

  height: 0;

  background-repeat: repeat-x;
}

.cap-top {
  .cap-left,
  .cap-right {
    height: 100%;

    background-repeat: no-repeat;
  }
}

.cap-bottom {
  .cap-left,
  .cap-right {
    height: 100%;

    background-repeat: no-repeat;
  }
}

.cap-top {
  background-position: top left;
  .cap-left {
    background-position: top left;
  }
}

.cap-bottom {
  background-position: bottom left;
  .cap-left {
    background-position: bottom left;
  }
}

.cap-top .cap-left,
.cap-bottom .cap-left {
  float: left;
}

.cap-top .cap-right {
  float: right;

  background-position: top right;
}

.cap-bottom .cap-right {
  float: right;

  background-position: bottom right;
}

.fauxborder-left {
  position: relative;

  background-repeat: repeat-y;
  background-position: top left;

  _height: 1%;
}

.fauxborder-right {
  position: absolute;
  right: 0;

  height: 100%;

  background-repeat: repeat-y;
  background-position: top right;

  _height: expression(this.parentNode.offsetHeight+'px');
}

table {
  &.section-columns {
    position: relative;

    width: 100%;

    table-layout: fixed;

    border: none;
  }
  &.columns-2 td.columns-cell {
    width: 50%;
  }
  &.columns-3 td.columns-cell {
    width: 33.33%;
  }
  &.columns-4 td.columns-cell {
    width: 25%;
  }
  &.section-columns td.columns-cell {
    vertical-align: top;
  }
}

.body-fauxcolumns,
.content-fauxcolumns {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;

  _height: expression(this.parentNode.offsetHeight+'px');
}

.body-fauxcolumns .fauxcolumn-outer {
  width: 100%;
}

.content-fauxcolumns {
  .fauxcolumn-outer {
    position: relative;

    overflow: visible;

    height: 100%;
    margin: 0 auto;
  }
  .fauxcolumn-left {
    width: 100%;
  }
}

section,
nav,
article,
aside,
hgroup,
header,
footer {
  display: block;
}

time,
mark {
  display: inline;
}

#ArchiveList {
  text-align: left;
  .toggle {
    font-family: Arial,sans-serif;

    cursor: pointer;
  }
  .toggle-open {
    line-height: .6em;

    _font-size: 1.7em;
  }
  a {
    &.post-count-link {
      text-decoration: none;
      &:link,
      &:visited {
        text-decoration: none;
      }
    }
    &.toggle {
      text-decoration: none;

      color: inherit;
      &:link,
      &:visited,
      &:hover {
        text-decoration: none;

        color: inherit;
      }
    }
  }
}

.BlogArchive #ArchiveList ul {
  margin: 0;
  padding: 0;

  list-style: none;
  list-style-image: none;

  border-width: 0;
  li {
    margin: .25em 0;
    padding-left: 15px;

    list-style: none;
    list-style-position: outside;
    list-style-image: none;

    text-indent: -15px;

    border-width: 0;
    background: none;
    background-image: none;
  }
  ul li {
    padding-left: 1.2em;
  }
  &.posts li {
    padding-left: 1.3em;
  }
}

#ArchiveList .collapsed ul {
  display: none;
}

div.widget.BlogArchive {
  .expand-arrow {
    float: right;

    width: 18px;
    height: 18px;
    margin-left: 5px;

    vertical-align: bottom;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIBJREFUOI3tkrsNQyEMAI+0HoI3BZ7cQ8AUMInTJSiyXz5Fqncd8ulAFnDxFb13H2P4L17Zh2stAI7joLVWCMi8WyTPOYletkcA3J9KORP3G19ntVZUtYShLObunEXCUBTbiSJpKItlEUiWDaCqRUQeZxFJIx9hZm5mb//WxR+5A0QSWzks5qAiAAAAAElFTkSuQmCC);
    background-position-y: 1px;
  }
  div.hierarchy-title:hover .expand-arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIBJREFUOI3tkrsNQyEMAI/U3oK3F17HW8BeMIvTJSiyXz5Fqncd8ulAFnDxFb13H2P4L17Zh2stAI7joLVWCMi8WyTPOYletkcA3J9KORP3G19ntVZUtYShLObunEXCUBTbiSJpKItlEUiWDaCqRUQeZxFJIx9hZm5mb//WxR+5A0XxWDNohwqvAAAAAElFTkSuQmCC);
  }
  .expanded > div.hierarchy-title {
    .expand-arrow {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAI5JREFUOI3tkr0RBSEIhJeXWgRWcRRhvRSBXVAEsZfd3A+OF77gNmNYPlcR+PQ/UtWhqmPloxUkIgAApRS01qb+36xhZgcEACICZjZNlp5gZsPd0wFmhog85h6J7pBaK5j5qN09TXYhZ5Bt2yjr3ZPRG8jMc4alj51BAEBE6HxNoskSzWz03pd/5q3v01U7cqdY59DzKjoAAAAASUVORK5CYII=);
    }
    &:hover .expand-arrow {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAI5JREFUOI3tkr0RBSEIhJcX2wX2dXRhDXSBhdEFuZfd3A+OF77gNmNYPlcR+PQ/UtWhqmPloxUkIgAApRS01qb+36xhZgcEACICZjZNlp5gZsPd0wFmhog85h6J7pBaK5j5qN09TXYhZ5Bt2yjr3ZPRG8jMc4alj51BAEBE6HxNoskSzWz03pd/5q3v01U7au9VD4S90JIAAAAASUVORK5CYII=);
    }
  }
  div.collapsible {
    overflow-y: hidden;

    -webkit-transition: max-height .2s ease-in-out;
       -moz-transition: max-height .2s ease-in-out;
         -o-transition: max-height .2s ease-in-out;
            transition: max-height .2s ease-in-out;
  }
  &[data-version='2'] #ArchiveList {
    ul.hierarchy {
      margin-right: 15px !important;
    }
    > div > ul {
      > li.expanded {
        border-bottom: 1px solid #eee;
      }
      &:last-child > li.expanded {
        border-bottom: none;
      }
    }
    li.collapsed ul {
      display: list-item;
    }
    a:hover {
      font-weight: bold;
    }
  }
  div.dropdown-toggle {
    position: relative;

    display: inline-block;

    margin: 10px 1px;
    padding: 8px 30px;

    -webkit-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
       -moz-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
            transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);

    border-radius: 2px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12);
  }
  span.button-title {
    position: relative;
    z-index: 2;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
  }
  #ArchiveList ul.menu {
    font-size: 14px;

    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;

    display: none;
    float: left;

    width: 100%;
    min-width: 160px;
    margin: 2px 0 0;
    padding: 5px 0;

    list-style: none;

    text-align: left;

    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    &.open {
      display: block;
    }
    li {
      text-indent: 0;
    }
  }
  .splash-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    pointer-events: none;

    border-radius: inherit;
  }
  .splash {
    position: absolute;

    display: block;

    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);

    border-radius: 100%;
    background: #b7e0e0;
    &.animate {
      -webkit-animation: ripple .4s linear;
              animation: ripple .4s linear;
    }
  }
}

@keyframes ripple {
  100% {
    transform: scale(2.5);

    opacity: 0;
  }
}

@-webkit-keyframes ripple {
  100% {
    transform: scale(2.5);

    opacity: 0;
  }
}

.post-footer abbr {
  border: none;
}

.author-profile {
  overflow: hidden;

  margin: 5px 5px 0 0;
  img {
    float: left;

    margin-right: 5px;

    border: 1px solid #efefef;
  }
}

#blog-pager-newer-link {
  float: left;
}

#blog-pager-older-link {
  float: right;
}

#blog-pager {
  overflow: hidden;

  margin: 1em 0;

  text-align: center;
}

.backlink-toggle-zippy {
  margin-right: .1em;
  padding-right: 11px;

  cursor: pointer;
  cursor: hand;

  background: url(//www.blogger.com/img/triangle_ltr.gif) no-repeat left center;
}

.expanded-backlink .backlink-toggle-zippy {
  background-image: url('//www.blogger.com/img/triangle_open.gif');
}

.collapsed-backlink .collapseable {
  display: none;
}

.status-msg-wrap {
  font-size: 110%;

  position: relative;

  width: 90%;
  margin: 10px auto;
}

.status-msg-border {
  position: relative;

  width: 100%;

       opacity: .4;
  border: 1px solid #000;

  filter: alpha(opacity = 40);
  -moz-opacity: .4;
}

.status-msg-bg {
  position: relative;
  z-index: 1;

  width: 100%;

       opacity: .8;
  background-color: #ccc;

  filter: alpha(opacity = 30);
  -moz-opacity: .8;
}

.status-msg-body {
  position: absolute;
  z-index: 4;

  width: 100%;
  padding: .3em 0;

  text-align: center;
}

.status-msg-hidden {
  visibility: hidden;

  padding: .3em 0;
}

.status-msg-wrap a {
  padding-left: .4em;

  text-decoration: underline;
}

.reactions-label {
  margin: 3px 0 0 0;
}

.reactions-label-cell {
  line-height: 2.3em;
}

.reactions-iframe {
  width: 100%;
  height: 2.3em;

  border: 0;
  background: transparent;
}

#comment-actions {
  position: absolute;

  height: 25px;
  padding: 0;

  border: 0;
  background: transparent;
}

#comments .blogger-comment-icon,
.blogger-comment-icon {
  line-height: 16px;

  padding-left: 20px;

  background: url(/img/b16-rounded.gif) left no-repeat;
}

#comments .openid-comment-icon,
.openid-comment-icon {
  line-height: 16px;

  padding-left: 20px;

  background: url(/img/openid16-rounded.gif) left no-repeat;
}

#comments .anon-comment-icon,
.anon-comment-icon {
  line-height: 16px;

  padding-left: 20px;

  background: url(/img/anon16-rounded.gif) left no-repeat;
}

.comment-form {
  clear: both;

  _width: 410px;
}

.comment-link {
  white-space: nowrap;
}

.paging-control-container {
  font-size: 80%;

  float: right;

  margin: 0 6px 0 0;
}

.unneeded-paging-control {
  visibility: hidden;
}

#comments-block {
  .avatar-image-container {
    position: absolute;
    left: -45px;

    width: 37px;
    height: 37px;
    img {
      float: right;

      -ms-interpolation-mode: bicubic;
      border: 1px solid #ccc;
    }
    &.avatar-stock img {
      padding: 1px;

      border-width: 0;
    }
  }
  &.avatar-comment-indent {
    position: relative;

    margin-left: 45px;
    dd {
      margin-left: 0;
    }
  }
}

iframe.avatar-hovercard-iframe {
  width: 25em;
  height: 9.4em;
  margin: .5em;
  padding: 0;

  border: 0 none;
}

.comments {
  clear: both;

  margin-top: 10px;
  margin-bottom: 0;
  .comments-content {
    margin-bottom: 16px;
  }
  .comment .comment-actions a {
    padding-top: 5px;
    padding-right: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
  .comments-content {
    .comment-thread ol {
      padding: 0;

      list-style-type: none;

      text-align: left;
    }
    .inline-thread {
      padding: .5em 1em;
    }
    .comment-thread {
      margin: 8px 0;
      &:empty {
        display: none;
      }
    }
    .comment-replies {
      margin-top: 1em;
      margin-left: 36px;
    }
    .comment {
      margin-bottom: 16px;
      padding-bottom: 8px;
      &:first-child {
        padding-top: 16px;
      }
      &:last-child {
        padding-bottom: 0;

        border-bottom: 0;
      }
    }
    .comment-body {
      position: relative;
    }
    .user {
      font-weight: bold;
      font-style: normal;
    }
    .icon.blog-author {
      display: inline-block;

      width: 18px;
      height: 18px;
      margin: 0 0 -4px 6px;
    }
    .datetime {
      margin-left: 6px;
    }
    .comment-header {
      margin: 0 0 8px;
    }
    .comment-content {
      margin: 0 0 8px;

      text-align: justify;
    }
    .owner-actions {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .comments-replybox {
    width: 100%;
    height: 250px;

    border: none;
  }
  .comment-replybox-single {
    margin-top: 5px;
    margin-left: 48px;
  }
  .comment-replybox-thread {
    margin-top: 5px;
  }
  .comments-content .loadmore a {
    display: block;

    padding: 10px 16px;

    text-align: center;
  }
  .thread-toggle {
    display: inline-block;

    cursor: pointer;
  }
  .continue {
    cursor: pointer;
    a {
      font-weight: bold;

      display: block;

      padding: .5em;
    }
  }
  .comments-content .loadmore {
    max-height: 3em;
    margin-top: 3em;

    cursor: pointer;
    &.loaded {
      overflow: hidden;

      max-height: 0;

      opacity: 0;
    }
  }
  .thread-chrome.thread-collapsed {
    display: none;
  }
  .thread-toggle {
    display: inline-block;
    .thread-arrow {
      display: inline-block;
      overflow: visible;

      width: 7px;
      height: 6px;
      margin: .3em;
      padding-right: 4px;
    }
  }
  .thread-expanded .thread-arrow {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC') no-repeat scroll 0 0 transparent;
  }
  .thread-collapsed .thread-arrow {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAABJRU5ErkJggg==') no-repeat scroll 0 0 transparent;
  }
  .avatar-image-container {
    float: left;
    overflow: hidden;

    width: 36px;
    max-height: 36px;
    img {
      max-width: 36px;
    }
  }
  .comment-block {
    position: relative;

    margin-left: 48px;
  }
}

@media screen and (max-device-width: 480px) {
  .comments .comments-content .comment-replies {
    margin-left: 0;
  }
}

table.tr-caption-container {
  margin-bottom: .5em;
  padding: 4px;
}

td.tr-caption {
  font-size: 80%;
}

.icon-action {
  margin: 0 0 0 .5em !important;

  vertical-align: middle;

  border-style: none !important;
}

.comment-action-icon {
  width: 13px;
  height: 13px;
  margin-top: 3px;
}

.delete-comment-icon {
  padding: 7px;

  background: url('/img/icon_delete13.gif') no-repeat left;
}

#comment-popup {
  position: absolute;

  visibility: hidden;

  width: 100px;
  height: 20px;
}

@media all {
  .BLOG_mobile_video_class {
    display: none;
  }
}

@media handheld {
  .BLOG_mobile_video_class {
    display: inline;
  }

  .BLOG_video_class {
    display: none;
  }
}

.post-share-buttons {
  display: inline-block;

  margin-top: .5em;

  vertical-align: middle;
}

.share-button {
  position: relative;

  overflow: hidden;

  width: 20px;
  height: 20px;
  margin-left: -1px;

  background: url(/img/share_buttons_20_3.png) no-repeat left !important;
}

.dummy-container,
.google-plus-share-container {
  padding-left: .3em;

  vertical-align: top;
}

a:hover.share-button {
  z-index: 1;

  text-decoration: none;
}

.share-button-link-text {
  display: block;

  text-indent: -9999px;
}

.sb-email {
  background-position: 0 0 !important;
}

a {
  &:hover.sb-email {
    background-position: 0 -20px !important;
  }
  &:active.sb-email {
    background-position: 0 -40px !important;
  }
}

.sb-blog {
  background-position: -20px 0 !important;
}

a {
  &:hover.sb-blog {
    background-position: -20px -20px !important;
  }
  &:active.sb-blog {
    background-position: -20px -40px !important;
  }
}

.sb-twitter {
  background-position: -40px 0 !important;
}

a {
  &:hover.sb-twitter {
    background-position: -40px -20px !important;
  }
  &:active.sb-twitter {
    background-position: -40px -40px !important;
  }
}

.sb-facebook {
  background-position: -60px 0 !important;
}

a {
  &:hover.sb-facebook {
    background-position: -60px -20px !important;
  }
  &:active.sb-facebook {
    background-position: -60px -40px !important;
  }
}

.sb-buzz {
  display: none !important;
}

.sb-pinterest {
  background-position: -100px 0 !important;
}

a {
  &:hover.sb-pinterest {
    background-position: -100px -20px !important;
  }
  &:active.sb-pinterest {
    background-position: -100px -40px !important;
  }
}

.sb-google {
  width: 82px;
  height: 20px;

  vertical-align: top;

  background: url(/img/plusone/plusonepreview.png) no-repeat;
}

.goog-inline-block {
  position: relative;

  display: -moz-inline-box;
  display: inline-block;
}

* {
  html .goog-inline-block,
  &:first-child + html .goog-inline-block {
    display: inline;
  }
}

.goog-custom-button {
  font-family: Arial,sans-serif;

  margin: 2px;
  padding: 0;

  list-style: none;

  cursor: default;
  vertical-align: middle;
  text-decoration: none;

  color: #000;
  border: 0;
  outline: none;
}

.goog-custom-button-outer-box,
.goog-custom-button-inner-box {
  vertical-align: top;

  border-style: solid;
  border-color: transparent;
}

.goog-custom-button-checked {
  .goog-custom-button-outer-box,
  .goog-custom-button-inner-box {
    border-color: #ccc;
  }
}

.goog-custom-button-outer-box {
  margin: 0;
  padding: 0;

  border-width: 1px 0;
}

.goog-custom-button-inner-box {
  margin: 0 -1px;
  padding: 3px 4px;

  white-space: nowrap;

  border-width: 0 1px;

  -moz-box-orient: vertical;
}

* {
  html {
    .goog-custom-button-inner-box {
      left: -1px;
    }
    .goog-custom-button-rtl {
      .goog-custom-button-outer-box {
        left: -1px;
      }
      .goog-custom-button-inner-box {
        right: auto;
      }
    }
  }
  &:first-child + html {
    .goog-custom-button-inner-box {
      left: -1px;
    }
    .goog-custom-button-rtl .goog-custom-button-inner-box {
      left: 1px;
    }
  }
}

::root {
  .goog-custom-button,
  .goog-custom-button-outer-box {
    line-height: 0;
  }
  .goog-custom-button-inner-box {
    line-height: normal;
  }
}

.goog-custom-button-active,
.goog-custom-button-checked {
  background-color: #faf6bc;
  background-position: bottom left;
}

.blog-mobile-link {
  padding: 15px;
}

#mobile-share-button {
  height: 18px;
  margin: 0;
  padding: 1px 10px;

  text-align: center;
  vertical-align: top;
  a {
    line-height: 18px;

    display: block;

    width: 100%;
    height: 100%;
  }
}

.mobile-share-panel-outer {
  background: #444;
}

.mobile-share-panel-inner {
  font-family: Arial;
  font-size: 18px;

  color: #666;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border-bottom-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  background: #fff;
}

.mobile .mobile-share-panel-inner a {
  display: block;

  color: #666;
}

.mobile-share-panel-title {
  line-height: 25px;

  height: 25px;
  padding: 10px 10px 10px 20px;

  border-bottom: 1px solid #eee;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
  background: #f5f5f5;
}

.mobile a.mobile-share-panel-button {
  line-height: 30px;

  -webkit-box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px 0 10px 65px;

  border-bottom: 1px solid #eee;
  background: #fff url(/img/mobile_share_icons4.png) no-repeat left !important;
}

.mobile-share-panel-button-close {
  font-size: 26px;
  line-height: 25px;

  float: right;

  width: 25px;
  height: 25px;

  text-align: center;
}

.mobile a {
  &.mobile-share-panel-button-email {
    background-position: 10px 0 !important;
  }
  &.mobile-share-panel-button-facebook {
    background-position: 10px -50px !important;
  }
  &.mobile-share-panel-button-twitter {
    background-position: 10px -100px !important;
  }
  &.mobile-share-panel-button-googleplus {
    background: #fff url(http://www.gstatic.com/images/icons/gplus-32.png) no-repeat left !important;
    background-position: 19px 9px !important;
  }
  &.mobile-share-panel-button-buzz {
    border-bottom-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    background-position: 10px -150px !important;
  }
}

div.widget.Blog[data-version='2'] {
  .item-control {
    display: none;
    a {
      text-decoration: none !important;
    }
  }
  .item-action a {
    text-decoration: none !important;
  }
  .widget-item-control {
    position: relative;
    z-index: 10;

    float: right;

    height: 20px;
    margin-top: -20px;
    a {
      opacity: .5;
      &:hover {
        opacity: 1;
      }
    }
  }
  .widget .widget-item-control a img {
    padding: none;

    border: none;
    background: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    -ie-box-shadow: none;
  }
  .post-footer {
    margin-top: 1em;
  }
  .post-outer {
    position: relative;

    padding-bottom: .25em;

    border-bottom: 1px solid #e5e5e5;
  }
  .post-summary {
    font-weight: bold;

    position: absolute;
    right: 0;
    bottom: 0;

    padding: 5px 10px 5px 0;

    transition: all .2s;

    color: #404040;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    img {
      width: 16px;
    }
    p {
      display: inline;

      margin-left: 10px;

      opacity: .6;
      &:hover {
        transition: all .2s;

        opacity: .9;
      }
    }
  }
  .post-outer:hover {
    .post-content {
      cursor: pointer;
      transition: all .2s;
    }
    .post-summary {
      background: #f5f5f5;
    }
  }
  .author-name {
    margin-bottom: 4px;
  }
  .author-image {
    float: left;
  }
  .author-about {
    margin-left: 60px;
  }
  .post-share-buttons {
    display: inline-block;

    margin-top: .5em;

    vertical-align: middle;
  }
  .goog-inline-block {
    position: relative;

    display: -moz-inline-box;
    display: inline-block;

    margin-top: 0;
  }
  .share-button {
    position: relative;

    overflow: hidden;

    width: 20px;
    height: 20px;
    margin-left: -1px;

    background: url(https://www.blogger.com/img/share_buttons_20_3.png) no-repeat left !important;
  }
  .google-plus-share-container {
    padding-left: .3em;

    vertical-align: top;
  }
  a:hover.share-button {
    z-index: 1;

    text-decoration: none;
  }
  .share-button-link-text {
    display: block;

    text-indent: -9999px;
  }
  .sb-email {
    background-position: 0 0 !important;
  }
  a {
    &:hover.sb-email {
      background-position: 0 -20px !important;
    }
    &:active.sb-email {
      background-position: 0 -40px !important;
    }
  }
  .sb-blog {
    background-position: -20px 0 !important;
  }
  a {
    &:hover.sb-blog {
      background-position: -20px -20px !important;
    }
    &:active.sb-blog {
      background-position: -20px -40px !important;
    }
  }
  .sb-twitter {
    background-position: -40px 0 !important;
  }
  a {
    &:hover.sb-twitter {
      background-position: -40px -20px !important;
    }
    &:active.sb-twitter {
      background-position: -40px -40px !important;
    }
  }
  .sb-facebook {
    background-position: -60px 0 !important;
  }
  a {
    &:hover.sb-facebook {
      background-position: -60px -20px !important;
    }
    &:active.sb-facebook {
      background-position: -60px -40px !important;
    }
  }
  .sb-pinterest {
    background-position: -100px 0 !important;
  }
  a {
    &:hover.sb-pinterest {
      background-position: -100px -20px !important;
    }
    &:active.sb-pinterest {
      background-position: -100px -40px !important;
    }
  }
}

@media (max-width: 768px) {
  div.widget.Blog[data-version='2'] .post-outer {
    padding-bottom: 40px;
  }
}

.blog-list-container {
  ul {
    padding-left: 0;
    li {
      clear: left;

      padding-left: 0;

      list-style: none;
      list-style-image: none;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .blog-content {
    float: left;

    width: 85%;
    margin: 0 0 5px 5px;

    text-indent: 0;
  }
  .blog-title {
    font-weight: bold;
    line-height: 16px;

    margin: 2px 0 0 0;
  }
  .blog-icon {
    float: left;

    width: 16px;
    margin-top: 2px;

    vertical-align: top;
    text-indent: 0;
  }
  .item-content {
    font-size: 95%;
    line-height: 1.3em;
  }
  .item-thumbnail {
    float: left;

    margin: 2px 5px 5px 0;
  }
  .item-time {
    font-size: 95%;
    font-style: italic;

    clear: left;
  }
}

.blog-list-title {
  font-weight: bold;
}

.blog-list-container .show-option {
  font-size: 75%;

  text-align: right;
}

.contact-form-widget {
  width: 100%;
  max-width: 250px;
  height: 320;
  margin-left: 0;
  padding: 0;
  padding-top: 0;
}

.contact-form-success-message {
  font-size: 11px;
  line-height: 19px;

  position: static;
  bottom: 0;

  margin-left: 0;

  text-align: center;

  opacity: 1;
  color: #222;
  border: 0 solid #f0c36d;
  background: #f9edbe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.contact-form-error-message {
  font-size: 11px;
  font-weight: bold;
  line-height: 19px;

  position: static;
  bottom: 0;

  margin-left: 0;

  text-align: center;

  opacity: 1;
  color: #666;
  border: 0 solid #f0c36d;
  background: #f9edbe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.contact-form-success-message-with-border {
  font-size: 11px;
  line-height: 19px;

  position: static;
  bottom: 0;

  margin-left: 0;

  text-align: center;

  opacity: 1;
  color: #222;
  border: 1px solid #f0c36d;
  background: #f9edbe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.contact-form-error-message-with-border {
  font-size: 11px;
  font-weight: bold;
  line-height: 19px;

  position: static;
  bottom: 0;

  margin-left: 0;

  text-align: center;

  opacity: 1;
  color: #666;
  border: 1px solid #f0c36d;
  background: #f9edbe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.contact-form-cross {
  width: 11px;
  height: 11px;
  margin: 0 5px;

  vertical-align: -8.5%;
}

.contact-form-email,
.contact-form-name {
  font-family: Arial,sans-serif;
  font-size: 13px;

  display: inline-block;

  box-sizing: border-box;
  height: 24px;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  vertical-align: top;

  color: #333;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  background: #fff;
  background-color: #fff;
}

.contact-form-email-message {
  font-family: Arial,sans-serif;
  font-size: 13px;

  display: inline-block;

  box-sizing: border-box;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  vertical-align: top;

  color: #333;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  background: #fff;
  background-color: #fff;
}

.contact-form-email:hover,
.contact-form-name:hover,
.contact-form-email-message:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.contact-form-email:focus,
.contact-form-name:focus,
.contact-form-email-message:focus {
  border: 1px solid #4d90fe;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

.contact-form-name,
.contact-form-email,
.contact-form-email-message {
  width: 100%;
  max-width: 220px;
}

.contact-form-button {
  font-family: 'Arial','Helvetica',sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;

  display: inline-block;

  min-width: 54px;
  height: 24px;
  margin-left: 0;
  padding: 0 8px;

  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
  -webkit-transition: all .218s;
     -moz-transition: all .218s;
       -o-transition: all .218s;
          transition: all .218s;
  text-align: center;

  color: #444;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, .1);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image:    -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image:     -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image:      -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image:         linear-gradient(top, #f5f5f5, #f1f1f1);

  *min-width: 70px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
  &:hover,
  &.hover {
    -webkit-transition: all 0;
       -moz-transition: all 0;
         -o-transition: all 0;
            transition: all 0;

    color: #222;
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image:    -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image:     -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image:      -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image:         linear-gradient(top, #f8f8f8, #f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8',EndColorStr='#f1f1f1');
  }
  &.focus,
  &.right.focus,
  &.mid.focus,
  &.left.focus {
    z-index: 4 !important;

    border: 1px solid #4d90fe;
    outline: none;
  }
}

.contact-form-button-submit {
  color: #fff;
  border: 1px solid #505050;
  border-color: #3079ed;
  background-color: #666;
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#555));
  background-image: -webkit-linear-gradient(top, #777, #555);
  background-image:    -moz-linear-gradient(top, #777, #555);
  background-image:     -ms-linear-gradient(top, #777, #555);
  background-image:      -o-linear-gradient(top, #777, #555);
  background-image:         linear-gradient(top, #777, #555);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image:    -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image:     -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image:      -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image:         linear-gradient(top, #4d90fe, #4787ed);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#777777',EndColorStr='#555555');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
  &:focus,
  &.focus {
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
       -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
  }
  &:focus,
  &.focus {
    border-color: #404040;
  }
  &:focus:hover,
  &.focus:hover {
    -webkit-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, .1);
       -moz-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, .1);
  }
  &:hover {
    color: #fff;
    border: 1px solid #404040;
    background-color: #555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
    background-image: -webkit-linear-gradient(top, #666, #444);
    background-image:    -moz-linear-gradient(top, #666, #444);
    background-image:     -ms-linear-gradient(top, #666, #444);
    background-image:      -o-linear-gradient(top, #666, #444);
    background-image:         linear-gradient(top, #666, #444);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666',EndColorStr='#444444');
  }
  &:active,
  &:focus:active,
  &.focus:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
       -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  }
  &:hover {
    border-color: #2f5bb7;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image:    -moz-linear-gradient(top, #4d90fe, #357ae8);
    background-image:     -ms-linear-gradient(top, #4d90fe, #357ae8);
    background-image:      -o-linear-gradient(top, #4d90fe, #357ae8);
    background-image:         linear-gradient(top, #4d90fe, #357ae8);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357ae8');
  }
}

.contact-form-button.disabled {
  cursor: default;
  pointer-events: none;

  color: #b8b8b8;
  border: 1px solid #f3f3f3;
  border: 1px solid rgba(0, 0, 0, .05);
  background: none;
  &:hover,
  &:active {
    cursor: default;
    pointer-events: none;

    color: #b8b8b8;
    border: 1px solid #f3f3f3;
    border: 1px solid rgba(0, 0, 0, .05);
    background: none;
  }
}

.contact-form-button-submit.disabled {
  opacity: .5;
  color: #fff;
  border: 1px solid #505050;
  border-color: #3079ed;
  background-color: #666;
  background-color: #4d90fe;

  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
      filter: alpha(opacity = 50);
  &:hover,
  &:active {
    opacity: .5;
    color: #fff;
    border: 1px solid #505050;
    background-color: #666;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
        filter: alpha(opacity = 50);
  }
  &:hover,
  &:active {
    border-color: #3079ed;
    background-color: #4d90fe;
  }
}

div.gsc-control {
  width: 100%;
}

.cse-status {
  font-size: 11px;

  margin: 10px;
  padding: 4px;

  color: #676767;
}

#uds-searchControl {
  position: relative;
}

#uds-searchClearResults {
  position: absolute;
  top: 15px;
  right: -3px;

  display: none;

  width: 9px;
  height: 9px;
  padding: 0;

  border-width: 1px;
  border-style: solid;
}

#uds-searchControl {
  .gsc-results {
    width: auto;
    margin: 0 0 2em;
    padding: 1em 1em 0 1em;

    border-width: 1px;
    border-style: solid;
  }
  .gsc-resultsHeader {
    display: none;
  }
  .gsc-tabsArea {
    position: relative;
    top: 1px;

    float: left;

    padding-right: 10px;
  }
  .gsc-tabHeader {
    line-height: 1.7;

    float: left;
    &.gsc-tabhActive {
      font-weight: bold;

      border-width: 2px 1px 0 1px;
      border-style: solid;
    }
    &.gsc-tabhInactive {
      padding-top: 2px;

      border-width: 0;
      border-style: solid;
    }
  }
  .gsc-resultsbox-visible {
    clear: left;
  }
  .gs-result .gs-title,
  .gsc-results .gsc-trailing-more-results {
    line-height: 1.5em;
  }
  .gs-relativePublishedDate,
  .gs-publishedDate {
    line-height: 1.3em;
  }
  .gs-result {
    a.gs-visibleUrl,
    .gs-visibleUrl {
      font-size: 95%;
      line-height: 1.3em;
    }
    .gs-snippet {
      line-height: 1.2em;

      margin: .25em 0;
    }
  }
  .gs-no-results-result .gs-snippet,
  .gs-error-result .gs-snippet {
    font-style: italic;

    border: none;
    background-color: transparent;
  }
}

.FollowByEmail {
  .follow-by-email-inner {
    position: relative;
    span {
      position: relative;

      display: block;

      margin-right: 74px;
    }
    input {
      font-family: arial,sans-serif;
    }
    &::-webkit-input-placeholder,
    input:-moz-placeholder {
      font-family: arial,sans-serif;
      font-size: 13px;

      color: #999;
    }
    .follow-by-email-address {
      font-size: 13px;

      width: 100%;
      height: 22px;

      border: 1px inset;
    }
    .follow-by-email-submit {
      font-size: 13px;

      z-index: 0;

      width: 60px;
      height: 26px;
      margin: 0;
      margin-left: 8px;

      cursor: pointer;

      color: #fff;
      border: 0;
      -moz-border-radius: 2px;
           border-radius: 2px;
      background: #000;
      background: rgba(0, 0, 0, .6);
    }
  }
  .widget-item-control {
    margin-top: 5px;
  }
}

a {
  &.follower-link,
  &.next-page-link {
    cursor: pointer;
  }
}

.follower {
  float: left;

  width: 32px;
  height: 32px;
  margin: 2px;
  img {
    position: absolute;

    clip: rect(0, 32px, 32px, 0);

    width: 32px;
  }
}

div.clear {
  clear: both;
}

.label-size-1 {
  font-size: 80%;

  opacity: .8;

  filter: alpha(80);
}

.label-size-2 {
  font-size: 90%;

  opacity: .9;

  filter: alpha(90);
}

.label-size-3 {
  font-size: 100%;
}

.label-size-4 {
  font-size: 120%;
}

.label-size-5 {
  font-size: 160%;
}

.cloud-label-widget-content {
  text-align: justify;
}

.label-count {
  white-space: nowrap;
}

.label-size {
  line-height: 1.2;
}

.quickedit {
  cursor: pointer;
}

.Navbar iframe {
  display: block;
}

#navbar-iframe {
  display: block;

  height: 30px;
}

.newsBar-status {
  font-size: 11px;

  margin: 10px;
  padding: 4px;

  color: #676767;
}

img.gsc-branding-img-noclear {
  display: inline;
}

.crosscol .PageList ul,
.footer .PageList ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.crosscol .PageList li,
.footer .PageList li {
  float: left;

  margin: .75em;
  padding-right: .75em;

  list-style: none;

  background: none;
}

.crosscol .PageList h2 {
  display: none;
}

.PageList li {
  a {
    font-weight: normal;
  }
  &.selected a {
    font-weight: bold;

    text-decoration: none;
  }
}

.PopularPosts {
  .item-thumbnail {
    float: left;

    margin: 0 5px 5px 0;
  }
  .widget-content ul li {
    padding: .7em 0;
  }
  img {
    padding-right: .4em;
  }
  .item-title {
    padding-bottom: .2em;
  }
}

.profile-img {
  float: left;

  margin: 0 5px 5px;
}

.profile-data {
  margin: 0;
}

.profile-datablock {
  margin: .5em 0;
}

.profile-name-link {
  display: inline-block;

  min-height: 20px;
  padding-left: 20px;

  background: no-repeat left top;
}

.profile-textblock {
  margin: .5em 0;
}

.slideshow-status {
  font-size: 11px;

  margin: 10px;
  padding: 4px;

  color: #676767;
}

.slideshow-wrapper {
  position: relative;

  display: inline-block;

  width: 100%;
  &:after {
    display: block;

    margin-top: 100%;

    content: '';
  }
}

.slideshow-spacer {
  margin: auto;
}

.slideshow-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img.gsc-branding-img-noclear,
.slideshow-container img {
  display: inline;
}

.Stats {
  .counter-wrapper {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    display: inline-block;

    height: 30px;

    vertical-align: top;

    direction: ltr;
  }
  img {
    margin-right: 10px;

    vertical-align: top;
  }
  .graph-counter-wrapper {
    color: #fff;
  }
  .digit {
    line-height: 28px;

    position: relative;

    display: inline-block;

    width: 22px;
    height: 28px;
    margin-left: -1px;

    text-align: center;

    border: 1px solid #fff;
    background: url('/img/widgets/stats-flipper.png') no-repeat left !important;
  }
  .blind-plate {
    position: absolute;
    top: 13px;
    left: 0;

    width: 22px;
    height: 0;

    opacity: .65;
    border-top: 1px solid #000;
    border-bottom: 1px solid #fff;

    filter: alpha(opacity = 65);
  }
  .stage-0 {
    background-position: 0 0 !important;
  }
  .stage-1 {
    background-position: -22px 0 !important;
  }
  .stage-2 {
    background-position: -44px 0 !important;
  }
  .stage-3 {
    background-position: -66px 0 !important;
  }
}

.widget.Subscribe {
  position: static;
  .widget-content {
    zoom: 1;
  }
}

.subscribe-feed-title {
  float: left;
}

.subscribe {
  cursor: pointer;

  color: #999;
  a {
    color: #999;
  }
}

.subscribe-wrapper {
  position: relative;

  zoom: 1;

  margin: .5em;
  padding: 0;
}

div.subscribe {
  width: 144px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  text-align: left;
  div.top {
    font-size: 1em;

    width: 144px;
    padding: 4px 0 1px;

    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.blogger.com/img/widgets/s_top.png',sizingMethod='crop');
  }
}

html > body div.subscribe div.top {
  background: url(//www.blogger.com/img/widgets/s_top.png) top left no-repeat;
}

span.inner {
  margin: 0;
  padding: 0;
}

div.subscribe div.top span.inner {
  margin: 0 5px;
}

.feed-icon {
  display: inline;

  vertical-align: baseline;
}

div.subscribe div.bottom {
  font-size: 3px;
  line-height: 0;

  height: 3px;

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.blogger.com/img/widgets/s_bottom.png',sizingMethod='crop');
}

.subscribe-wrapper .expanded {
  position: absolute;
  z-index: 20;
  top: 0;
}

html > body div.subscribe div.bottom {
  width: 144px;
  margin-bottom: 0;
  padding-bottom: 0;

  background: url(//www.blogger.com/img/widgets/s_bottom.png) bottom left no-repeat;
}

.feed-reader-links {
  position: relative;

  margin: 10px 20px;
  padding: 0;

  list-style: none;
}

.subscribe-dropdown-arrow {
  float: right;

  margin-top: 4px;
  margin-right: 6px;
}

.feed-reader-links {
  margin: 0;
  padding: 0;

  list-style: none;
}

a.feed-reader-link {
  font-weight: normal;

  z-index: 1000;

  display: block;

  margin: .5em;

  text-decoration: none;
}

.feed-reader-link img {
  display: inline;

  border: 0;
}

.Translate {
  a.goog-te-menu-value {
    text-decoration: none;
  }
  .goog-te-menu-value span {
    color: #000;
  }
  .goog-te-gadget a:link.goog-logo-link {
    font-size: 12px;
    font-weight: bold;

    text-decoration: none;

    color: #444;
  }
  .goog-te-combo {
    font-family: Arial,Helvetica,sans-serif;

    padding: 6px;

    color: #444;
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
  }
}

div.floatingPlayer_gsvb div.playerInnerBox_gsvb .player_gsvb {
  width: 320px;
  height: 260px;
}

.videoBar-status {
  font-size: 11px;

  margin: 10px;
  padding: 4px;

  color: #676767;
}

.videoBar-container {
  font-family: Arial,sans-serif;

  clear: both;

  margin: auto;

  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

.wikipedia-search-main-container {
  max-width: 350px;
}

.wikipedia-search-wiki-link {
  width: 8%;

  vertical-align: middle;
}

.wikipedia-search-input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  height: 28px;
  padding-left: 4px;

  vertical-align: top;

  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;

      -ms-box-sizing: border-box;
  &:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;

            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }
  &:focus {
    border: 1px solid #4d90fe;
    outline: none;

            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);

  }
}

.wikipedia-search-form {
  overflow: hidden;

  margin: 0;
  padding-bottom: 0;
  padding-left: 6px;
}

.wikipedia-search-results-header {
  font-weight: bold;

  display: none;

  height: 19px;
  padding-top: 3px;

  border-bottom: 1px solid #ebebeb;
}

.wikipedia-search-button {
  font-size: 11px;
  font-weight: bold;

  width: 38px;
  height: 28px;

  text-align: center;

  color: transparent;
  border: 1px solid #3079ed;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #4d90fe;
  background-image: url('/img/widgets/icon_wikipedia_search.png');
  background-repeat: no-repeat;
  background-position: center;

      -ms-border-radius: 2px;
  &:hover {
    color: transparent;
    border: 1px solid #2f5bb7;
    background-color: #357ae8;
  }
  &:focus {
    -webkit-box-shadow: inset 0 0 0 1px #fff;
       -moz-box-shadow: inset 0 0 0 1px #fff;
            box-shadow: inset 0 0 0 1px #fff;

        -ms-box-shadow: inset 0 0 0 1px #fff;
  }
}

.wikipedia-search-results {
  padding-top: 2px;

  color: #dd4b39;
}

.wikipedia-search-result-link a:link,
.wikipedia-search-more a:visited,
.wikipedia-search-result-link a:visited {
  text-decoration: none;
}

.wikipedia-search-more a:hover,
.wikipedia-search-result-link a:hover,
.wikipedia-search-more a:active,
.wikipedia-search-result-link a:active {
  text-decoration: underline;
}

.wikipedia-search-more a:link {
  text-decoration: none;
}

.wikipedia-search-main-container {
  padding-top: 5px;
}

.wikipedia-searchtable {
  position: relative;
  right: 6px;
}

.wikipedia-search-bar {
  white-space: nowrap;
}

.wikipedia-icon {
  padding-bottom: 5px;
}

.wikipedia-input-box {
  padding: 0 2px;
}
