
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=68a57d43ba37f7da0a7d934f4ba99355
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress