
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=04d353cf85f42eb13aea49d37c305cdf
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress