
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=91d02afa14a1d380ba5432ccd7a38564
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress